In [5]:
import pandas as pd
import numpy as np
AdmissionData = pd.read_csv('data.csv',sep=',',index_col = False)
#'Serial No.'
del AdmissionData['Serial No.']

In [15]:
AdmissionData.head()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,317,103,2,2.5,2.0,8.15,0,0.65
1,319,108,3,3.0,3.5,8.54,1,0.71
2,322,110,3,3.5,2.5,8.67,1,0.80
3,326,113,5,4.5,4.0,9.40,1,0.91
4,319,106,3,3.5,2.5,8.33,1,0.74

In [13]:
ran = np.random.rand(len(AdmissionData)) < 0.8
train = AdmissionData[ran]
val = AdmissionData[~ran]
train.to_csv('UsedTrainingDataForAdmissionDs.csv',sep=',',index = False)
val.to_csv('UsedValidationDataForAdmissionDs.csv',sep=',',index = False)
train = pd.read_csv('UsedTrainingDataForAdmissionDs.csv',sep=',',index_col = False)
val = pd.read_csv('UsedValidationDataForAdmissionDs.csv',sep=',',index_col = False)

In [14]:
train.head()

,Unnamed: 0,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,0,317,103,2,2.5,2.0,8.15,0,0.65
1,2,322,110,3,3.5,2.5,8.67,1,0.80
2,4,319,106,3,3.5,2.5,8.33,1,0.74
3,5,302,102,3,3.5,5.0,8.33,0,0.65
4,6,322,110,5,4.5,4.0,8.97,0,0.78